* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: monospace;
}

body {
  background-color: #e5d9f2;
}

.container {
  width: 50%;
  margin: auto;
}

.form {
  padding: 20px;
  border-radius: 5px;
  background-color: #fff;
  margin-top: 20px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.05);
}

.form:first-child {
  border-top: 7px solid#a594f9;
}

.form * {
  margin: 10px;
}

.form input {
  border: 0px;
  border-bottom: 2px solid #cdc1ff;
  height: 30px;
  outline: none;
  width: 30%;
  transition: all 1s;
}

.form input[type="text"]:focus,
.form input[type="email"]:focus {
  width: 70%;
}

input[type="radio"] {
  width: 10px;
  height: 10px;
}

.form-gender {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

select {
  width: 200px;
  height: 50px;
  outline: none;
  border: 2px solid #cdc1ff;
  border-radius: 5px;
}

option {
  height: 50px;
  border-radius: 0px;
}

button {
  width: 125px;
  height: 40px;
  background-color: white;
  border: none;
  margin-top: 20px;
  border-radius: 5px;
  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2);
  color: #a594f9;
}

button a {
  text-decoration: none;
}

button:hover {
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.7);
}

hr {
  border: 0.5px solid #a594f9;
}

footer {
  height: 25vh;
}
